
@font-face {
    font-family: 'Arthead';
    src: url(fonts/Arthead-RegularFREE.ttf);
}
@font-face {
    font-family: 'CreatoDisplayThin';
    src: url(fonts/CreatoDisplay-Thin.ttf);
}
@font-face {
    font-family: 'CreatoDisplayRegular';
    src: url(fonts/CreatoDisplay-Regular.ttf);
}