
@font-face {
    font-family: 'Arthead';
    src: url(fonts/NowsterCute.otf);
}
@font-face {
    font-family: 'CreatoDisplayThin';
    src: url(fonts/CreatoDisplay-Thin.ttf);
}
@font-face {
    font-family: 'CreatoDisplayRegular';
    src: url(fonts/CreatoDisplay-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'CreatoDisplayRegular';
}

html{
    font-size: 65%;
}

a {
  color: inherit;         
  text-decoration: none; 
}

body{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url(images/movingBackground.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgb(0, 0, 0);
}

header{
    font-family: 'Arthead';
    margin-top: 1vh;
    top: 0;
    left: 0;
    width:100%;
    padding: 1rem 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    background-color: black;
}

.logobox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px; 
    padding: 2rem 3%;
    width: 100%
}

.logo{
    font-family: 'Arthead';
    font-size: 600%;
    color: black;
    cursor: pointer;
    padding-left: 2rem 3%;
    padding-right: 2rem 3%;
}

.logobox:hover{
transform: scale(1.1);
}

nav{
    margin-top: 1vh;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10%;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    /* transition: 0.5s ease; */
    background-color: white;
    border-radius: 15px; 
}

.navbox{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-size: 120%;
}

.navbox:hover{
    transform: scale(1.1);
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px; 
    gap: 4%;
    height: 80%;
    width: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem 5%;
}

.panelbasic{
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px; 
    padding: 1rem 2%;
}

.panel{
    width: 90%;
    border: 5px solid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 15px; 
    padding: 1rem 5%;
}

.panel:hover{
     transform: scale(1.05);
}

.panel-content-wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px; 
    padding: 1rem 5%;
    color: black;
}

.panel-content-stack{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px; 
    padding: 1rem 10%;
    color: black;
}

.blackbase{
    border-color:rgb(0, 0, 0);
    background-color:rgb(0, 0, 0);
}

.redbase{
    border-color:rgb(243, 117, 113);
    background-color:rgb(242, 146, 143);
}

.bluebase{
    border-color:rgb(113, 105, 235)
}

.yellowbase{
    border-color: rgb(251, 226, 170);
}

.panel-image{
    border-radius: 15px; 
}

.panel-text{
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    max-width: 60%;
    max-height: 60%;
    white-space: nowrap;
}

.title-text{
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: fit-content;
    max-width: 80%;
}

.redtext{
    color: rgb(243, 117, 113);
}

.bluetext{
    color: rgb(113, 105, 235);
}

.panel-title{
    font-family: 'Arthead';
    font-size: 300%;
    text-align: center;
    white-space: normal;
}

.panel-description{
    margin-top: 1vh;
    font-size: 180%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer{
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 15px; 
    width: 80%;
    font-size: 120%;
}

.buttonpannel{
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
    justify-content: center;
}

.rounded-btn {
  background-color: rgb(113, 105, 235);
  color: #ffffff;
  padding: 1rem 10%;
  border: white;
  border-radius: 20px;
  cursor: pointer; 
  font-size: 120%;
  white-space: nowrap;
  width: fit-content;
}

.rounded-btn:hover {
    transform: scale(1.05);
}